@font-face {
    font-family: "awami";
    src: url("./all/AwamiNastaliq-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "scheherazade bold";
    src: url("./all_fonts/Scheherazade-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "scheherazade";
    src: url("./all/Scheherazade-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "latef";
    src: url("./LateefGR_1.200/LateefGR-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ajrak";
    src: url("./PakType_17_6_25/PakType_Ajrak.ttf") format("truetype");
}
@font-face {
    font-family: "naqsh";
    src: url("./PakType_17_6_25/PakType_Naqsh.ttf") format("truetype");
}

@font-face {
    font-family: "Tehreer";
    src: url("./PakType_17_6_25/PakType_Tehreer.ttf") format("truetype");
}

@font-face {
    font-family: "Naskh";
    src: url("./PakType_17_6_25/PakType_Naskh_Basic.ttf") format("truetype");
}

@font-face {
    font-family: "Bahij Aban-Bold";
    src: url("./Pashto_Standard_Fonts_v02.0.0/Pashto Standard Fonts v02.0.0/Bahij Aban-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Bahij ASVCodar-Bold";
    src: url("./Pashto_Standard_Fonts_v02.0.0/Pashto Standard Fonts v02.0.0/Bahij ASVCodar-Bold.ttf") format("truetype");
}